*{
  padding: 0px;
  margin: 0px;
}
/* Form register */
.container-from-register{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-from-register .form-register{
  width: 300px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  border-radius: 4px;
}
.form-register input {
  width: 100%;
  margin: 10px;
  padding: 5px;
}
.form-register button {
  padding: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-color: teal;
  color: #fff;
  width: 100px;
  border-radius: 3px;
  transition: ease .5s; 
}
.form-register button:hover {
  transform: scale(1.2);
  transition: ease .5s; 
}

/* Styles chat */
.container-chat{
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-messages{
  height: 90vh;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
}
.content-messages .messages{
  text-align: center;
}
.content-messages .messages p{ 
  width: 100%;
}
.form-container{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.form-container span{
  width: 100%;
}
.form-container .form-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-item input:nth-child(1){
  width: 30%;
  padding: 10px; 
}
.form-item input:nth-child(2){
  width: 90%;
  padding: 10px; 
}
.form-item button{
  padding: 7px 15px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  background-color: teal;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}